body {
  font-family: "Asap", sans-serif;
  background-color: #ebebeb;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.header-container {
  background-color: rgb(61, 61, 61);
  min-height: 100px;

  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  /* background-color: orchid; */
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}

.col {
  background-color: rgb(43, 226, 147);
  width: 30%;
  margin-bottom: 40px;
}

.hide-desktop-only {
  display: none;
}

.col p {
  font-size: 0.875rem;
  color: white;
  padding: 20px 25px;
  line-height: 1.25rem;
}

.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-family: "Asap", sans-serif;
  font-weight: bold;
}

.mybutton {
  padding: 10px 25px;
  border: 1px solid white;
  margin-left: 10px;
}
.highlight {
  font-weight: 700;
}

.mob-wrapper {
  display: none;
}

/*Tablet view */

@media (max-width: 768px) {
  .col {
    width: 47%;
  }
  .hide-desktop-only {
    display: block;
  }

  .header-container {
    position: relative;
  }

  .container {
    padding-top: 40px;
  }
  nav {
    display: none;
  }
  nav a {
    display: block;
  }

  .logo {
    padding: 40px 0;
  }
  .mybutton {
    margin-left: 0;
  }
  .mob-wrapper {
    display: block;
    padding-right: 40px;
  }
  .mob-nav {
    display: none;
    position: absolute;
    padding-top: 10px;
  }
  .navbutton {
    display: block;
    background-color: coral;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
  }
}

/*Mobile view */

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
}
